.button {
  height: 3.11rem;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  justify-content: left;
  letter-spacing: 0.2px;
  color: #a4a6b3;
  text-transform: capitalize;
}
.logo {
  transform: scale(0.5);
}
